* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: sans-serif;
	padding-top: 51px;
	padding-left: 132px;
}
.nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	box-shadow: 0 0 8px 3px rgba(0, 0, 0, .2);
	background-color: #fff;
	z-index: 3;
}
.nav-wrapper {
	padding-left: 48px;
	padding-right: 48px;
	display: grid;
	grid-template-columns: repeat(3, auto);
	align-items: center;
	justify-content: space-between;
}
.nav-title-link {
	text-decoration: none;
	color: transparent;
	-webkit-text-stroke: 1px red;
}
.nav-search {
	outline: none;
	border: none;
	width: 400px;
	border: 1px solid #9e9e9e;
	border-radius: 5px;
	padding: 5px;
}
.nav-search::placeholder {
	color: #ccc;
}
.nav-user {
	display: grid;
	grid-template-columns: repeat(3, auto);
	margin-top: 8px;
	margin-bottom: 8px;
	align-items: center;
	grid-gap: 8px;
}
.nav-user-imgBox {
	width: 35px;
	height: 35px;
	border-radius: 50%;
	overflow: hidden;
}
.nav-user-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
}
.nav-user-icon {
	border: 5px solid transparent;
	border-top: 7px solid #757575;
	border-bottom-width: 0;
	cursor: pointer;
}
.sidenav {
	position: fixed;
	width: 100px;
	left: 0;
	bottom: 0;
	background-image: linear-gradient(120deg, #FD545B, #FB7367 100%);
	height: calc(100vh - 51px); 
	color: #fff;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}
.sidenav-content {
	height: 100%;
	display: grid;
	grid-template-rows: 15% 15% 15% 55%;
	align-items: end;
}
.sidenav-item:nth-child(4) {
	align-self: end;
}
.section {
	padding-top: 24px;
}
.section-title {
	font-size: 16px;
	padding-bottom: 16px;
}
.movies-box {
	display: grid;
	grid-template-columns: repeat(3, auto);
	justify-content: start;
	grid-column-gap: 40px;
}
.movie-box {
	width: 300px;
	height: 180px;
	position: relative;
	box-shadow: 0 0 10px 2px rgba(0, 0, 0, .1);
}
.movie-img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.movie-content {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 1;
	height: 50%;
	background-color: rgba(253, 84, 91, .8);
	padding: 8px;
}
.movie-title {
	font-weight: normal;
	padding-bottom: 5px;
	color: #fff;
}
.movie-description {
	font-size: 13px;
	color: rgba(255, 255, 255, .85);
}
